<!DOCTYPE HTML>
<html lang="en">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="UTF-8">
		<meta http-equiv = "Content-Security-Policy" content="default-src https: 'self' {{{sapui5_sb.url}}} 'unsafe-eval' 'unsafe-inline'; child-src 'none'; object-src 'none';" />
		<link rel='shortcut icon' type='image/x-icon' href='img/favicon.ico' />

		<title>FSDM2OneSumX Adapter Administration Cockpit</title>

		<script id="sap-ui-bootstrap"
			src="{{{sapui5_sb.url}}}/resources/sap-ui-core.js"
			data-sap-ui-libs="sap.m"
			data-sap-ui-theme="sap_belize"
			data-sap-ui-compatVersion="edge"
			data-sap-ui-resourceroots='{"com.adweko.adapter.osx.ui": "./"}'>
		</script>
		<script src="{{{sapui5_sb.url}}}/sap/public/bc/ui2/services/sap/ui2/srvc/error.js"></script>
		<script src="{{{sapui5_sb.url}}}/sap/public/bc/ui2/services/sap/ui2/srvc/utils.js"></script>
		<script src="{{{sapui5_sb.url}}}/sap/public/bc/ui2/shell-api/sap/ui2/shell/startup.js"></script>

		<link rel="stylesheet" type="text/css" href="css/style.css">

		<script>
			sap.ui.getCore().attachInit(function() {
				new sap.m.Shell({
					appWidthLimited: false,
					app: new sap.ui.core.ComponentContainer({
						height : "100%",
						name : "com.adweko.adapter.osx.ui"
					})
				}).placeAt("content");
			});
		</script>
	</head>

	<body class="sapUiBody" id="content">
	</body>

</html>